{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mission list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Runtime</th>
                <th>Needbuy</th>
                <th>Costs</th>
                <th>Icons</th>
                <th>Form</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mission_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.runtime }}</td>
                <td>{{ entity.needBuy }}</td>
                <td>{{ entity.costs }}</td>
                <td>{{ entity.icons }}</td>
                <td>{{ entity.form }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('mission_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mission_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('mission_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
